
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
   width: 100%;
   max-width: 1600px;
   background-color: #FFFFFF;
   display: flex;
   justify-content: space-between;
  
    align-items: center;


}
.logo img{
  margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
    width: 139px;
}
.header-items{
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 34px;
  list-style: none;
  font-size: 16px;
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover{
    background-color: #30B868;
}
nav div button{
  margin-right: 120px;
}
.header-body{
    background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    width: 100%;
    max-width: 1600px;
   padding-top: 115px;
    height: 674px;
    text-align: center;
    

}
.header-content #Early{
    background-color: #FFFFFF;
    
    width: 229px;
    height: 40px;
    text-align: center;
    
    color: #469165;
    margin:  0 auto;
    border: 1px solid #12d6b2;
    border-radius: 4px;
    font-size: 16px;
    padding-top: 8px;
    margin-bottom: 16px;
    
}
.header-content blank{

   margin-top: 16px;
   
}
#Structured{
    color: #FFFFFF;
    margin-top: 16px;
    
}
#down{
    color: #30B868;
    margin-bottom: 16px;
}
#text{
    color: #FFFFFF;
    margin-bottom: 32px;
}
#second-button{
   
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 198px;
    height: 52px;
    font-size: 16px;
}
.content-footer{
    gap: 16px;
    display: flex;
    justify-content: center;
}
.note{
    width: 1360px ;
    height: 152px;
    
    text-align: center;
    margin: 0 auto;
    
    
}
.note h3{
    margin-top: 15px;
    margin-bottom: 16px;
    font-size: 48px;
    color: #001931;
}
.note p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
.card{
    max-width: 1360px;
    width: 80%;
    height: 300px;
    border: 1px solid #0b7ed0;
    margin: 0 auto;
    display: flex;
}
.card div img{
    background-color: #F95555;
    border-radius: 60px 60px;
    padding: 14px;
    margin: 69px 131px 16px 107px;
    
}
.card div h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 24px;

}
.card div p{
    font-size: 16px;
    color: #627382;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 21px;
}
.card div {
    width: 322px;
    height: 300px;
    box-shadow: 0px 4px 16px rgba(52, 16, 211, 0.1);
    gap: 24px;
}
.third{
    display: flex;
   margin: 120 px;
}
.third .image img{
   width: 600px;
   height: 600px;
    margin-left: 120px;
    
    
    
}
.content #Solution{
   color: #469165;
   font-size: 16px;
    margin-bottom: 16px;
    
}
.third .content{
    padding: 102px 0 40px 60px;
    
}
.content h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.content #middle-part{
    color: #627382;
    font-size: 16px;
    margin-bottom: 40px;
    width: 700px;
    height: 60px;
    padding-right: 120px;
}
.bottom-content{
    display: flex;
   font-size: 16px;
   color: #001931;
    gap: 16px;
}
.fourth{
    background-color: #F7F6F2;
    text-align: center;
    /* margin-top: 120px; */
    width: 1360px;
    height: 384px;
   justify-content: center;
    margin: 120px auto;
    
  
}
.fourth h2{
    font-size: 40px;
    color: #001931;
   padding: 80px 40px 16px 40px;
}
.fourth p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
}
.fourth button{
    margin-bottom: 16px;
}

