
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
   width: 100%;
   max-width: 1600px;
   background-color: #FFFFFF;
   display: flex;
   justify-content: space-between;
  
    align-items: center;


}
.logo img{
  margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
    width: 139px;
}
.header-items{
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 34px;
  list-style: none;
  font-size: 16px;
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
}
nav div button{
  margin-right: 120px;
}
.header-body{
    background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    width: 100%;
    max-width: 1600px;
   
    height: 674px;
    text-align: center;
    

}
.header-content #Early{
    background-color: #FFFFFF;
    
    width: 229px;
    height: 40px;
    text-align: center;
    
    color: #469165;
    margin:  0 auto;
    border: 1px solid #12d6b2;
    border-radius: 4px;
    font-size: 16px;
    padding-top: 8px;
    margin-bottom: 16px;
    
}
.header-content blank{

   
   
}
#Structured{
    color: #FFFFFF;
    margin-top: 16px;
    
}
#down{
    color: #30B868;
    margin-bottom: 16px;
}
#text{
    color: #FFFFFF;
    margin-bottom: 32px;
}
#second-button{
   
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 198px;
    height: 52px;
    font-size: 16px;
}
.content-footer{
    gap: 16px;
    display: flex;
    justify-content: center;
}
